version: '3'

services:

  logstash:
    depends_on:
      - elasticsearch
    image: docker.elastic.co/logstash/logstash:latest
    container_name: "logstash"
    volumes:
      - ./config:/config-dir
    networks:
      - vkbot
    command: logstash -f /config-dir/logstash.conf

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:latest
    networks:
      - vkbot
    container_name: "elasticsearch"

  kibana:
    depends_on:
      - logstash
      - elasticsearch
    ports:
      - 5601:5601
    image: docker.elastic.co/kibana/kibana:latest
    networks:
      - vkbot
    container_name: "kibana"

  mongodb:
    image: mongo:latest
    networks:
      - vkbot
    container_name: "mongodb"
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ./data/db:/data/db
    ports:
      - 27017:27017
    command: mongod --smallfiles --logpath=/dev/null

  config-server:
    build: ./config-server
    networks:
      - vkbot
    environment:
      - GIT_URI=https://github.com/amarchenkov/vk-bot-config-repo.git
      - GIT_PASSWORD=1
      - GIT_LOGIN=1
    ports:
      - 8888:8888
    container_name: "config-server"

  service-registry:
    build: ./service-registry
    depends_on:
      - config-server
    ports:
      - 8761:8761
    networks:
      - vkbot
    container_name: "service-registry"

  api-gateway:
    build: ./api-gateway
    depends_on:
      - service-registry
      - config-server
    ports:
      - 8095:8095
    networks:
      - vkbot
    container_name: "api-gateway"

  account-service:
    build: ./account-service
    depends_on:
      - service-registry
      - config-server
      - api-gateway
      - mongodb
    ports:
      - 8091:8091
    networks:
      - vkbot
    container_name: "account-service"

  group-service:
    build: ./group-service
    depends_on:
      - service-registry
      - config-server
      - api-gateway
      - mongodb
    ports:
      - 8092:8092
    networks:
      - vkbot
    container_name: "group-service"

  content-service:
    build: ./content-service
    depends_on:
      - service-registry
      - config-server
      - api-gateway
      - account-service
      - mongodb
    ports:
      - 8093:8093
    networks:
      - vkbot
    container_name: "content-service"

  ui:
    build: ./ui
    depends_on:
      - service-registry
      - config-server
      - api-gateway
      - account-service
      - group-service
      - content-service
    ports:
      - 8080:8080
    networks:
      - vkbot
    container_name: "UI"

networks:
  vkbot:
    driver: bridge