version: '3'

services:

  config-server:
    build: ./config-server
    ports:
      - 8888:8888
    container_name: config-server

  service-registry:
    build: ./service-registry
    ports:
      - 8761:8761
    container_name: service-registry

#  ui:
#  account-service:
#  api-gateway:
#  service-registry:
