version: '3.1'

services:

#  mongodb:
#    image: mongo:latest
#    container_name: "mongodb"
#    environment:
#      - MONGO_DATA_DIR=/data/db
#      - MONGO_LOG_DIR=/dev/null
#    volumes:
#      - ./data/db:/data/db
#    ports:
#      - 27017:27017
#    command: mongod --smallfiles --logpath=/dev/null

  config-server:
    build: ./config-server
    environment:
      - GIT_URI=https://github.com/amarchenkov/vk-bot-config-repo.git
      - GIT_PASSWORD=1
      - GIT_LOGIN=1
    ports:
      - 8888:8888
    container_name: "config-server"

  service-registry:
    build: ./service-registry
    depends_on:
      - config-server
    ports:
      - 8761:8761
    container_name: "service-registry"

  api-gateway:
    build: ./api-gateway
    depends_on:
      - service-registry
      - config-server
    ports:
      - 8095:8095
    container_name: "api-gateway"
#
#  account-service:
#    build: ./account-service
#    depends_on:
#      - service-registry
#      - config-server
#      - api-gateway
#      - mongodb
#    ports:
#      - 8091:8091
#    container_name: "account-service"
#
#  group-service:
#    build: ./group-service
#    depends_on:
#      - service-registry
#      - config-server
#      - api-gateway
#      - mongodb
#    ports:
#      - 8092:8092
#    container_name: "group-service"
#
#  content-service:
#    build: ./content-service
#    depends_on:
#      - service-registry
#      - config-server
#      - api-gateway
#      - account-service
#      - mongodb
#    ports:
#      - 8093:8093
#    container_name: "content-service"
#
#  ui:
#    build: ./ui
#    depends_on:
#      - service-registry
#      - config-server
#      - api-gateway
#      - account-service
#      - group-service
#      - content-service
#    ports:
#      - 8080:8080
#    container_name: "UI"
#
#networks:
#  vkbot:
#    drive: bridge