version: '3'

services:
  config-server:
    build: ./config-server
    ports:
      - 8888:8888
    container_name: config-server:latest

#  ui:
#  account-service:
#  api-gateway:
#  service-registry:
