<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="VitaFactoryLogging">

    <Properties>
        <Property name="LogPath">${log.path}</Property>
    </Properties>

    <!--=========== APPENDERS =========-->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern=" [%p] %d{yyyy-mm-dd HH:mm:ss} | %c{1.}:%L | %m%n"/>
        </Console>

        <!-- Логгирование JPA -->
        <RollingFile name="Persistence" fileName="${LogPath}/Persistence.log"
                     filePattern="${LogPath}/$${date:yyyy-MM-dd}/${SqlLogFileName}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="[%p] %d{yyyy-mm-dd HH:mm:ss} | %c{1.}:%L | %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <!-- Логгирование приложения -->
        <RollingFile name="Application" fileName="${LogPath}/Application.log"
                     filePattern="${LogPath}/$${date:yyyy-MM-dd}/${AppLogFileName}-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="INFO"/>
            <PatternLayout pattern="[%p] %d{yyyy-mm-dd HH:mm:ss} | %c{1.}:%L | %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <!-- Spring -->
        <RollingFile name="Spring" fileName="${LogPath}/Spring.log"
                     filePattern="${LogPath}/$${date:yyyy-MM-dd}/${AppLogFileName}-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="INFO"/>
            <PatternLayout pattern="[%p] %d{yyyy-mm-dd HH:mm:ss} | %c{1.}:%L | %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <!-- Логгирование ошибок -->
        <File name="Error" fileName="${LogPath}/Error.log" immediateFlush="true">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss} | %c{1.}:%L | %m%n"/>
        </File>

    </Appenders>

    <!--=========== LOGGERS =========-->
    <Loggers>
        <logger name="org.mongodb" level="DEBUG">
            <AppenderRef ref="Persistence"/>
        </logger>

        <Logger name="org.springframework" level="INFO">
            <AppenderRef ref="Spring"/>
        </Logger>

        <Logger name="com.github.vk" level="DEBUG">
            <AppenderRef ref="Application"/>
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="Error"/>
        </Root>
    </Loggers>

</Configuration>